@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


/* ======================= Section 1 ======================= */

section:first-child {
    text-align: center;
}

section:first-child > p:nth-of-type(1) {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    padding: 1vw;
}

section:first-child > h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 8rem;
    text-transform: uppercase;
    margin: 5px;
}

section:first-child > h1:nth-of-type(1) {
    margin-top: 7vh;
}

section:first-child > h1:nth-of-type(2) {
    margin-bottom: 10vh;
}

section>img {
    width: 50vw;
}

section:first-child > p:nth-of-type(2) {
    font-family: 'Work Sans', sans-serif;
    font-size: 16rem;
    text-transform: uppercase;
    margin: 15vh auto;
}

/* ======================= Section 2 ======================= */

section:nth-of-type(2) {
    background-image: url("../img/portfolio2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    padding: 20px;
} 

section:nth-of-type(2)>p:nth-of-type(1) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 15vw;
    padding-top: 15vh;
    color:#9e9e9e;
}

section:nth-of-type(2)>p:nth-of-type(2) {
    font-size: 11.2rem;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    margin-left: 15vw;
    padding-top: 3vh;
    color: white;
}

section:nth-of-type(2)>p:nth-of-type(3) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    margin-left: 15vw;
    padding-top: 5vh;
    color:#9e9e9e;
    margin-bottom: 10vh;
}

/* ------------ article -------------- */

section:nth-of-type(2) a {
    border: 1px solid white;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: white;  
    margin-left: 15vw;
    margin-top: 20vh;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-size: 1.5rem;
    }

section:nth-of-type(2) article a:hover {
    color: #333;
    background: #fff;
}

section:nth-of-type(2) h4 {
    font-size: 14rem;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    color:#9e9e9e;  
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 12vh;
    text-align: right;
    opacity: 0.5;
    }

section:nth-of-type(2) article a:hover + h4 {
    opacity: 1;
}

section:nth-of-type(2) article a:hover + h4 {
    color: #fff;
}

/* ======================= Section 3 (weißer Hintergrund) ======================= */

section:nth-of-type(3) {
    background-image: url("../img/portfolio3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    padding: 20px;
} 

section:nth-of-type(3)>p:nth-of-type(1) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 15vw;
    padding-top: 15vh;
    color:#9e9e9e;
}

section:nth-of-type(3)>p:nth-of-type(2) {
    font-size: 11.2rem;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    margin-left: 15vw;
    padding-top: 3vh;
    color: black;
}

section:nth-of-type(3)>p:nth-of-type(3) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    /* text-align: left; */
    margin-left: 15vw;
    padding-top: 5vh;
    color:#9e9e9e;
    margin-bottom: 10vh;;
}

/* ------------ article -------------- */

section:nth-of-type(3) a {
    border: 1px solid rgb(3, 3, 3);
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(5, 5, 5);  
    margin-left: 15vw;
    margin-top: 20vh;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-size: 1.5rem;
    }

section:nth-of-type(3) article a:hover {
    color: rgb(248, 248, 248);
    background: rgb(0, 0, 0);
}

section:nth-of-type(3) h4 {
    font-size: 14rem;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    color:#666;  
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 12vh;
    text-align: right;
    opacity: 0.7;
    }

section:nth-of-type(3) article a:hover + h4 {
    opacity: 1;
}

section:nth-of-type(3) article a:hover + h4 {
    color: rgb(2, 2, 2);
}

/* ======================= Section 4 ======================= */

section:nth-of-type(4) {
    background-image: url("../img/portfolio4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    padding: 20px;
} 

section:nth-of-type(4)>p:nth-of-type(1) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 15vw;
    padding-top: 15vh;
    color:#9e9e9e;
}

section:nth-of-type(4)>p:nth-of-type(2) {
    font-size: 11.2rem;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    /* text-align: left; */
    margin-left: 15vw;
    padding-top: 3vh;
    color: white;
}

section:nth-of-type(4)>p:nth-of-type(3) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    margin-left: 15vw;
    padding-top: 5vh;
    color:#9e9e9e;
    margin-bottom: 10vh;;
}

/* ------------ article -------------- */

section:nth-of-type(4) a {
    border: 1px solid white;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: white;  
    margin-left: 15vw;
    margin-top: 20vh;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-size: 1.5rem;
}

section:nth-of-type(4) article a:hover {
        color: #333;
        background: #fff;
}

section:nth-of-type(4) h4 {
    font-size: 14rem;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    color:#9e9e9e;  
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 12vh;
    text-align: right;
    opacity: 0.5;
    }


section:nth-of-type(4) article a:hover + h4 {
    opacity: 1;
}

section article a:hover + h4 {
    color: #fff;
}


/* ======================= Section 5 (weißer Hintergrund) ======================= */

section:nth-of-type(5) {
    background-image: url("../img/portfolio5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    padding: 20px;
} 

section:nth-of-type(5)>p:nth-of-type(1) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 15vw;
    padding-top: 15vh;
    color:#9e9e9e;
}

section:nth-of-type(5)>p:nth-of-type(2) {
    font-size: 11.2rem;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    /* text-align: left; */
    margin-left: 15vw;
    padding-top: 3vh;
    color: black;
}


section:nth-of-type(5)>p:nth-of-type(3) {
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    /* text-align: left; */
    margin-left: 15vw;
    padding-top: 5vh;
    color:#9e9e9e;
    margin-bottom: 10vh;;
}


/* ------------ article -------------- */

section:nth-of-type(5) a {
    border: 1px solid rgb(3, 3, 3);
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(5, 5, 5);  
    margin-left: 15vw;
    margin-top: 20vh;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-size: 1.5rem;
    }

    section:nth-of-type(5) article a:hover {
        color: rgb(248, 248, 248);
        background: rgb(0, 0, 0);
    }

section:nth-of-type(5) h4 {
    font-size: 14rem;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    color:#666;  
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 12vh;
    text-align: right;
    opacity: 0.7;
    }


section:nth-of-type(5) article a:hover + h4 {
    opacity: 1;
}

section:nth-of-type(5) article a:hover + h4 {
    color: rgb(2, 2, 2);
}
    /* ======================= Section 6 ======================= */


    section:nth-of-type(6) {
        background-color: black;
        height: 100vh;
        /* width: 100vw; */
        padding: 10px;
    }

    section:nth-of-type(6) p:nth-of-type(1) {
        font-size: 15rem;
        color: white;
        text-align: center;
        padding-top: 20vh;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: -15px;
    }


    section:nth-of-type(6) p:nth-of-type(2) {
        font-size: 2rem;
        color: #666;
        padding-top: 13vh;
        font-family: 'Work Sans', sans-serif;
        margin-left: 45%;
        margin-right: 10%;
        line-height: 3rem;
    }

    section:nth-of-type(6) p:nth-of-type(3) {
        margin-top: 9vh;
        margin-left: 45%;
    }

    section:nth-of-type(6) p:nth-of-type(3) a {
        color: white; 
        font-size: 4.5rem;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
    }

    section:nth-of-type(6) p a:hover {
        text-decoration: underline 0.5rem;
    }

/* ======================= Section 7 ======================= */

section:nth-of-type(7) a {
    text-align: center;
    font-size: 16rem;
    font-family: 'Didact Gothic', sans-serif;
    text-decoration: none;
    color: black;
    line-height: 30rem;
}

section:nth-of-type(7) ul {
    text-align: center;
}

section:nth-of-type(7) a:hover {
    text-decoration: underline 1.4rem;
}

/* ======================= Section 8 (Animation) ======================= */

section:nth-of-type(8) {
    padding: 10vh; 
    text-align: center;
    animation-name: Donut; 
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
@keyframes Donut {
    from {font-size: 1rem;}
    to {font-size: 4.5rem;}
}
